# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.venv/
env/
venv/

# Logs, configs, outputs
run.log
tracker_config.json
overlay_extended.png

# PyInstaller / build
build/
dist/
*.spec

# OS junk
.DS_Store
Thumbs.db

# Overlay runtime cache
overlay_icon_cache/
